---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import ArtGallery from "../components/ArtGallery.astro";
import Resume from "../components/Resume.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <About />
    <Skills />
    <Projects />
    <ArtGallery />
    <Resume />
    <Contact />
  </main>
  <Footer />
</Layout>
